/*
 * Global Styles
 * Made by JP Casabianca
*/

/*
  Import Base, Components, Helpers and Layout SASS Files
*/

// BASE
@import "base/reset";

// HELPERS
@import "helpers/mixins";
@import "helpers/variables";

// Import Bulma Essentials for Lightweight Build.
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/grid/all";

/*
  Utility First Classes
*/
@import "helpers/utilityFirst";

/*
  Global Styles
*/
body {
  font-family: 'Gotham Rounded Book', helvetica, sans-serif;
  background-color: #363b65;
}

a {
  text-decoration: none;
}

.columns {
  margin-left: 0!important;
  margin-right: 0!important;
}
