<template lang="html">
  <div id="chart" class="columns">
    <div class="column is-10 is-11-desktop">
      <canvas id="skill-chart"></canvas>
    </div>
    <div class="column is-2 is-1-desktop" id="dolar-info">
      <span>Dolar vs. Euro</span>
      <p>${{$store.state.exchangeBaseRate}}</p>
      <span>Information Retrieved:</span>
      <p class="margin-bottom-0">{{$store.state.exchangeDate}}</p>
    </div>
  </div>
</template>

<script>

import Chart from 'chart.js';
import ChartData from '~/middleware/dolar-chart.js';

export default {
  data() {
    return {
      chartData: ChartData,
    };
  },
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId);
      ctx.height = 20;
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options,
      });
    }
  },
  mounted() {
    //do something after mounting vue instance
    this.createChart('skill-chart', this.chartData);
  },
};

</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';

  #chart {
    margin-left: 0;
    margin-right: 0;
    .column {
      padding: 0;
    }
  }

  #skill-chart {
    padding-bottom: 20px;
  }

  #dolar-info {
    span {
      display: block;
      color: $text;
      font-size: 14px;
      margin-left: 10px;
    }
    p {
      margin-top: 4px;
      color: #fff;
      margin-left: 10px;
    }
  }

</style>
