<template lang="html">
  <div class="currency-chooser">
    <div class="flex align-items-center" @click="toggle_dropdown()">
      <img src="~/static/img/usd.png" alt="USD Flag" id="chosen-currency">
      <span id="currency-name">USD</span>
      <i :class="dropdown ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
    </div>
    <div class="dropdown" v-show="dropdown">
      <div class="currency-item" v-for="(currency, index_cur) in $store.state.currencies" :key="index_cur">
        <img :src="getImgUrl(currency.slug)" alt="USD Flag">
        <span class="text-uppercase">{{currency.slug}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dropdown: false,
    };
  },
  methods: {
    getImgUrl(img) {
      var images = require.context('~/static/img/', false, /\.png$/);
      return images('./' + img + ".png");
    },
    toggle_dropdown() {
      this.dropdown = !this.dropdown;
    },
  },
};
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';
  @import '~/assets/sass/helpers/_mixins.scss';

  .currency-chooser {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    cursor: pointer;
    img {
      width: 30px;
      height: 24px;

    }
    span {
      padding: 0 12px;
      font-size: 22px;
      font-family: 'Gotham Rounded Medium', helvetica, sans-serif;
    }
    i {
      font-size: 22px;
    }
    .dropdown {
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      background-color: #fff;
      border: 1px solid #808080;
      @include transition(all 0.4s ease);
      .currency-item {
        display: flex;
        align-items: center;
        // color: #fff;
        padding: 8px 0 8px 15px;
      }
    }
  }
</style>
