<template lang="html">
  <div id="exchange">

    <form class="" action="/conversion" method="post" @submit.prevent="validateBeforeSubmit">

      <!-- EXCHANGE BASE  -->
      <div class="exchange-section" id="conversion">

          <span class="icon-arrow-right" id="convert-icon-right"></span>

          <!-- CURRENCY CHOOSER -->
          <div class="currency-chooser">

            <div class="flex align-items-center currency-chooser-top" @click="toggle_dropdown(1)">
              <img :src="getFlags($store.state.exchangeBase)" alt="USD Flag" id="chosen-currency">
              <span id="currency-name">{{$store.state.exchangeBase}}</span>
              <i v-show="!formApproved" :class="dropdown ? 'icon-x-circle' : 'icon-chevron-down'"></i>
            </div>
            <div class="dropdown" v-show="dropdown">
              <div
                class="currency-item"
                v-for="(currency, index_cur) in $store.state.currencies"
                :key="index_cur"
                @click="choose_currency(currency.slug, 'base')">
                <img :src="getImgUrl(currency.slug)" alt="USD Flag">
                <span class="text-uppercase">{{currency.slug}}</span>
              </div>
            </div>
          </div>


          <!-- CURRENCY INPUT -->
          <div class="currency-input">
            <span v-show="!formApproved">{{currency_symbol($store.state.exchangeBase)}}</span>
            <input
              v-model="base"
              v-validate="'numeric|required|min_value:1'"
              v-show="!formApproved"
              type="number"
              name="base"
              placeholder="100.00">
              <p v-show="formApproved">{{currency_symbol($store.state.exchangeBase)}}{{base}}</p>
          </div>

          <div class="currency-errors">
            <span v-show="errors.has('base')" class="help is-danger">{{ errors.first('base') }}</span>
          </div>


          <!-- ADDITIONAL INFO -->
          <div class="currency-info">
            <div class="currency-info-item">
              <p class="tooltips">Exchange Rate <i class="icon-alert-circle"></i><span>Rate: {{$store.state.exchangeDate}}</span></p>
              <h3 class="gotham-rounded-book">{{$store.state.exchangeBaseRate}}</h3>
            </div>
            <div class="currency-info-item">
              <p>Transaction Fee: {{currency_symbol($store.state.exchangeBase)}}<span class="gotham-rounded-medium">{{calculate_fee('base')}}</span></p>
            </div>
          </div>

        </div>
        <!-- END EXCHANGE BASE -->

        <!-- EXCHANGE RESULTS -->
        <div class="exchange-section" id="converted">

          <!-- CURRENCY CHOOSER -->
          <div class="currency-chooser">
            <div class="flex align-items-center currency-chooser-top" @click="toggle_dropdown(2)">
              <img :src="getFlags($store.state.exchangeTarget)" alt="USD Flag" id="chosen-currency">
              <span id="currency-name">{{$store.state.exchangeTarget}}</span>
              <i v-show="!formApproved" :class="dropdown2 ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
            </div>
            <div class="dropdown" v-show="dropdown2">
              <div class="currency-item" v-for="(currency, index_cur) in $store.state.currencies" :key="index_cur" @click="choose_currency(currency.slug, 'converted')">
                <img :src="getImgUrl(currency.slug)" alt="USD Flag">
                <span class="text-uppercase">{{currency.slug}}</span>
              </div>
            </div>
          </div>



          <!-- CURRENCY INPUT -->
          <div class="currency-input">
            <span v-show="!formApproved">{{currency_symbol($store.state.exchangeTarget)}}</span>
            <input
              id="input-converted"
              v-model="doubleValue"
              v-show="!formApproved"
              type="text"
              name="currency_base"
              placeholder="100.00"
              disabled>
              <p v-show="formApproved">{{currency_symbol($store.state.exchangeTarget)}}{{doubleValue}}</p>
          </div>

          <!-- ADDITIONAL INFO -->
          <div class="currency-info">
            <div class="currency-info-item">
              <p>Transaction Fee: {{currency_symbol($store.state.exchangeTarget)}}<span class="gotham-rounded-medium">{{calculate_fee('target')}}</span></p>
            </div>
            <div class="currency-info-item">
              <!-- <button class="cta" id="exchange-button">EXCHANGE <span class="icon-check"></span></button> -->
              <p v-show="formApproved" class="gotham-rounded-medium" id="confirm-transaction">Confirm Transaction:</p>
              <input v-show="!formApproved" id="exchange-input-submit" type="submit" name="" value="EXCHANGE">
              <span v-show="formApproved" class="button" id="back" @click="form_back()">Back</span>
              <button v-show="formApproved" class="button">Convert</button>
            </div>
          </div>

      </div>
      <!-- END EXCHNAGE RESULTS -->

    </form>

  </div>
</template>

<script>

import CurrencyChooser from '~/components/CurrencyChooser.vue';

export default {
  data() {
    return {
      dropdown: false,
      dropdown2: false,
      base: 0,
      converted: 0,
      formApproved: false,
    };
  },
  components: {
    CurrencyChooser
  },
  methods: {
    getImgUrl(img) {
      var images = require.context('~/static/img/', false, /\.png$/);
      return images('./' + img + ".png");
    },
    getFlags(base) {
      if (base == 'USD') {
        return this.getImgUrl('USD');
      } else {
        return this.getImgUrl('EUR');
      }
    },
    toggle_dropdown(id) {
      if (id == 1) {
        this.dropdown = !this.dropdown;
      } else if (id == 2) {
        this.dropdown2 = !this.dropdown2;
      }
    },
    choose_currency(slug, action) {
      var url = '';
      if (action == 'base') {
        if (slug == 'USD') {
          url = 'http://api.fixer.io/latest?base=USD&symbols=EUR';
        } else {
          url = 'http://api.fixer.io/latest?base=EUR&symbols=USD';
        }
        this.toggle_dropdown(1);
      } else {
        if (slug == 'USD') {
          url = 'http://api.fixer.io/latest?base=EUR&symbols=USD';
        } else {
          url = 'http://api.fixer.io/latest?base=USD&symbols=EUR';
        }
        this.toggle_dropdown(2);
      }
      this.$store.dispatch('loadData', { 'url': url });
    },
    currency_symbol(currency) {
      if (currency == 'USD') {
        return '$';
      } else if (currency == 'EUR') {
        return '€';
      }
    },
    calculate_fee( action ) {
      if (action == 'base') {
        return Intl.NumberFormat('nl-NL').format(this.base * this.$store.state.exchangeBaseFee);
      } else {
        return Intl.NumberFormat('nl-NL').format(this.base * this.$store.state.exchangeTargetFee);
      }
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          // eslint-disable-next-line
          if (this.formApproved) {
            this.$nuxt.$router.replace({ path: '/conversion' });
          } else {
            this.formApproved = true;
          }
          console.log(this.base);
          return;
        }
        console.log('Correct them errors!');
      });
    },
    form_back() {
      this.formApproved = false;
    },
  },
  computed: {
    doubleValue: {
      get(){
        //this function will determine what is displayed in the input
        return new Intl.NumberFormat('nl-NL').format(this.base * this.$store.state.exchangeRates[this.$store.state.exchangeTarget]);
      }
    }
  }
}
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';
  @import '~/assets/sass/helpers/_mixins.scss';

  #exchange {
    background-color: #fff;
    form {
      display: flex;
    }
    .exchange-section {
      flex: 1;
      padding: 50px;
    }
    #converted {
      flex: 1;
      background-color: $light-gray;
      input[type="text"] {
        background-color: $light-gray;
        border-bottom: 1px solid #bfbfbf;
      }
    }
    #conversion {
      flex: 1;
      position: relative;
    }
  }

  #convert-icon-right {
    position: absolute;
    right: -20px;
    top: 42%;
    font-size: 22px;
    background-color: $dark-blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    @include border-radius(50%);
  }

  .currency-chooser {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    cursor: pointer;
    img {
      width: 30px;
      height: 24px;
    }
    span {
      padding: 0 12px;
      font-size: 22px;
      font-family: 'Gotham Rounded Medium', helvetica, sans-serif;
    }
    i {
      font-size: 22px;
    }
    .currency-chooser-top {
      &:hover {
        color: $green!important;
      }
    }
    .dropdown {
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      background-color: $dark-blue;
      border: 1px solid #808080;
      z-index: 50;
      @include transition(all 0.4s ease);
      .currency-item {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 8px 0 8px 15px;
        &:hover {
          background-color: $dark-blue-shadow;
        }
      }
    }
  }

  .currency-input {
    position: relative;
    span {
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 30px;
    }
    input {
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1px solid #e2e2e2;
      color: $dark-blue;
      text-indent: 25px;
      font-size: 30px;
      font-family: 'Gotham Rounded Book', helvetica, sans-serif;
      @include transition(all 0.4s ease-in-out);
      &:focus {
        border-bottom: 1px solid $dark-blue;
        outline-color: rgba(0,0,0,0);
        outline: none!important;
      }
    }
    p {
      font-size: 30px;
      margin: 8px 0;
    }
  }

  .button {
    border: none;
    background-color: $dark-blue;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    @include transition(all 0.4s ease-in-out);
    &:hover {
      background-color: $green;
    }
  }

  #back {
    margin-right: 5px;
  }

  .currency-info-item {
    p {
      color: $text;
      margin-bottom: 8px;
      font-size: 14px;
    }
    h3 {
      margin-top: 0;
    }
    span {
      color: $dark-blue;
    }
  }

  .tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
    span {
      position: absolute;
      width:180px;
      color: #FFFFFF;
      background: $dark-blue;
      height: 30px;
      line-height: 30px;
      text-align: center;
      visibility: hidden;
      border-radius: 6px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -8px;
        width: 0; height: 0;
        border-right: 8px solid $dark-blue;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }
    &:hover {
      span {
        visibility: visible;
        opacity: 0.8;
        left: 100%;
        top: 50%;
        margin-top: -15px;
        margin-left: 15px;
        z-index: 999;
      }
    }
  }

  .currency-errors {
    span {
      font-size: 12px;
      color: tomato;
    }
  }

  #exchange-input-submit {
    border: none;
    background-color: $dark-blue;
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    @include transition(all 0.4s ease-in-out);
    &:hover {
      background: $green;
    }
    span {
      color: #fff;
    }
  }

  #input-converted {
    cursor: not-allowed;
  }

  #confirm-transaction {
    color: $dark-blue;
    font-size: 18px;
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    #exchange {
      form {
        flex-direction: column;
      }
    }
    #convert-icon-right {
      top: 94%;
      right: 45%;
      @include transform(90deg);
    }
  }

</style>
