<template lang="html">
  <div class="full-row">
    <div class="cont90">
      <div class="columns">
        <div class="column is-3" id="footer-1">
          <img src="~/static/img/footer-logo.png" alt="" class="img-full">
          <p>Copyright® JP Casabianca, 2018.</p>
        </div>
        <div class="column" id="footer-2">
          <ul>
            <li><nuxt-link to="/" class="active">EXCHANGE</nuxt-link></li>
            <li><nuxt-link to="/rates">RATES</nuxt-link></li>
            <li><nuxt-link to="/about">ABOUT</nuxt-link></li>
            <li><nuxt-link to="/contact">CONTACT</nuxt-link></li>
          </ul>
        </div>
        <div class="column" id="footer-3">
          <ul>
            <li><nuxt-link to="/"><span class="icon-facebook"></span> Facebook</nuxt-link></li>
            <li><nuxt-link to="/"><span class="icon-twitter"></span> Twitter</nuxt-link></li>
            <li><nuxt-link to="/"><span class="icon-linkedin"></span> Linkedin</nuxt-link></li>
            <li><nuxt-link to="/"><span class="icon-youtube"></span> Youtube</nuxt-link></li>
          </ul>
        </div>
        <div class="column is-3" id="footer-4">
          <h4>SUSCRIBE</h4>
          <p>Receive offers when prices are low!</p>
          <div class="suscribe-form columns">
            <div class="column is-9 " style="padding:0;">
              <input type="email" name="email_suscribe" placeholder="Email" id="email-suscribe">
            </div>
            <div class="column is-3" style="padding:0;">
              <input type="submit" name="" value="OK" id="submit-suscribe" class="gotham-rounded-medium">
            </div>
          </div>
        </div>
        <div class="column" id="footer-5">
          <ul>
            <li>Bogotá, Colombia.</li>
            <li>Calle 92 #13-68</li>
            <li>Chicó, 110221.</li>
            <li><a href="mailto:hola@jpcasabianca.com" target="_blank">hola@jpcasabianca.com</a></li>
            <li><a href="cel:+573507015800" target="_blank">+(57)350-701-5800</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';

  #footer-1 {
    p {
      font-size: 14px;
      color: $text;
      margin-top: 0px;
    }
  }

  #footer-2 {
    .active {
      color: #fff;
    }
  }

  #footer-2,
  #footer-3 {
    ul {
      list-style: none;
      padding-left: 0;
      padding: 0;
      margin: 0;
      a {
        color: $text;
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  #footer-3 {
    text-transform: uppercase;
    .icon-facebook {
      color: $facebook;
    }
    .icon-twitter {
      color: $twitter;
    }
    .icon-linkedin {
      color: $linkedin;
    }
    .icon-youtube {
      color: $youtube;
    }
  }

  #footer-4 {
    h4 {
      color: #fff;
      margin: 0;
    }
    p {
      color: $text;
      margin: 0;
      font-size: 14px;
      margin-top: 3px;
      margin-bottom: 25px;
    }
    .columns {
      .column, .is-9, .is-3 {
        padding: 0!important;
      }
    }
  }

  #email-suscribe {
    width: 100%;
    border: none;
    padding: 0;
    height: 35px;
    background-color: #495487;
    text-indent: 15px;
    font-size: 14px;
    color: #fff;
  }

  #submit-suscribe {
    background-color: $green;
    border: none;
    width: 100%;
    color: #fff;
    height: 35px;
  }

  #footer-5 {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 14px;
        padding: 0;
        display: block;
        margin-bottom: 8px;
        color: $text;
        a {
          color: #fff;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    #footer-3 {
      margin-bottom: 30px;
    }
    #footer-4 {
      margin-bottom: 30px;
    }
  }

</style>
