<template lang="html">
  <div class="full-row text-align-center">

    <!-- MOBILE MENU ICON -->
    <span :class="showMobileMenu ? 'icon-x-circle' : 'icon-menu'" id="menu-mobile-icon" @click="toggleMobileMenu()"></span>

    <!-- MAIN LOGO -->
    <nuxt-link to="/"><img src="~/static/img/logo.png" alt="moneyxchange.io logo" id="main-logo"></nuxt-link>

    <!-- MOBILE LOGO TEXT -->
    <nuxt-link to="/" id="logo-mobile">MONEYXCHANGE.<span>IO</span></nuxt-link>

    <!-- MAIN NAVIGATION -->
    <nav id="main-nav" class="full-row">
      <nuxt-link to="/" class="gotham-rounded-medium active">EXCHANGE</nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium">RATES</nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium" id="text-logo">MONEYXCHANGE.<span>IO</span></nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium">ABOUT</nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium">CONTACT</nuxt-link>
    </nav>

    <div id="menu-mobile" v-show="showMobileMenu">
      <nuxt-link to="/" class="gotham-rounded-medium active">EXCHANGE</nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium">RATES</nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium">ABOUT</nuxt-link>
      <nuxt-link to="/" class="gotham-rounded-medium">CONTACT</nuxt-link>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      showMobileMenu: false
    };
  },
  methods: {
    toggleMobileMenu() {
      this.showMobileMenu = !this.showMobileMenu;
    },
  },
};
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';
  @import '~/assets/sass/helpers/_mixins.scss';

  %logo-hover {
    &:hover {
      opacity: 0.5;
    }
  }

  #main-logo {
    width: 75px;
    height: 75px;
    display: inline-block;
    @extend %logo-hover;
  }
  #main-nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
      margin: 0 15px;
      color: $text;
      @include transition(all 0.3s ease);
      &:hover {
        color: $text-logo-color;
      }
    }
    .active {
      color: $text-logo-color;
    }
  }

  #text-logo {
    color: $text-logo-color!important;
    @extend %logo-hover;
    span {
      color: $text-logo-color2;
    }
  }

  #logo-mobile {
    display: none;
    color: #fff;
    span {
      color: $green;
    }
  }

  #menu-mobile-icon {
    display: none;
    position: fixed;
    left: 15px;
    top: 15px;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    z-index: 1000;
    &:hover {
      color: $green;
    }
  }

  #menu-mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1b2133;
    z-index: 999;
    padding: 50px 0 20px 0;
    @include transition(all 0.4s ease-in-out);
    a {
      display: block;
      color: $text;
      padding: 10px 0;
      &:hover {
        color: #fff;
      }
    }
    a.active {
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    #main-nav {
      display: none;
    }
    #logo-mobile {
      display: block;
    }
    #menu-mobile-icon {
      display: inline-block;
    }
  }

</style>
