<template>
  <div>

    <!-- MAIN CONTENT -->
    <main id="main-content">

      <!-- HEADER -->
      <header id="main-header">
        <TheHeader />
      </header>

      <!-- PAGE CONTENT -->
      <nuxt/>

      <footer id="main-footer">
        <TheFooter />
      </footer>

    </main>
    <!-- END MAIN CONTENT -->

  </div>
</template>

<script>

  import TheHeader from '~/components/TheHeader.vue';
  import TheFooter from '~/components/TheFooter.vue';

  export default {
    components: {
      TheHeader,
      TheFooter,
    },
  };
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';

  #main-content {
    background-image: url("~/static/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #main-header {
    padding: 30px 0;
  }

  @media (max-width: 768px) {
    footer {
      text-align: center;
    }
  }

</style>
