<template>
  <div>

    <!-- LOADING HANDLING -->
    <div id="loading" v-if="$store.state.loading">
      <img src="~/static/img/91.svg" alt="Loading">
    </div>

    <!-- MAIN CONTENT -->
    <main id="main-content">

      <!-- HEADER -->
      <header id="main-header">
        <TheHeader />
      </header>

      <!-- PAGE CONTENT -->
      <nuxt/>

      <footer id="main-footer">
        <TheFooter />
      </footer>

    </main>
    <!-- END MAIN CONTENT -->

  </div>
</template>

<script>

  import TheHeader from '~/components/TheHeader.vue';
  import TheFooter from '~/components/TheFooter.vue';

  export default {
    components: {
      TheHeader,
      TheFooter,
    },
  };
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';

  #main-content {
    background-image: url("~/static/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #main-header {
    padding: 30px 0;
  }

  #loading {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    footer {
      text-align: center;
    }
  }

</style>
