<template lang="html">
  <div id="handle">
    <h1>HANDLE PAYMENT AND USER INFORMATION</h1>
  </div>
</template>

<script>
export default {
  layout: 'conversion',
};
</script>

<style lang="scss">
  #handle {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      color: #fff;
    }
  }
</style>
