<template>
  <section class="full-row">

    <section class="cont60 text-align-center" id="first-fold-copy">
        <!-- FIRST COPY -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </section>

    <section class="cont60" id="exchange-container">
      <MoneyExchanger />
    </section>

    <section id="chart-container">
      <Chart />
    </section>

  </section>
</template>

<script>

import MoneyExchanger from '~/components/MoneyExchanger.vue';
import Chart from '~/components/Chart.vue';

export default {
  components: {
    MoneyExchanger,
    Chart,
  },
  created() {
    //do something after creating vue instance
    this.$store.dispatch('loadData', { 'url': 'http://api.fixer.io/latest?base=USD&symbols=EUR' });
  },
}
</script>

<style lang="scss">

  @import '~/assets/sass/helpers/_variables.scss';

  #first-fold-copy {
    margin-bottom: 15px;
    p {
      color: $text;
    }
  }

  #chart-container {
    margin: 50px 0 80px 0;
  }

  #exchange-container {
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    #chart-container {
      display: none;
    }
    #exchange-container {
      margin-bottom: 70px;
    }
  }

</style>
