/*
 * SASS Variables
 * Made by JP Casabianca
*/

$text: #727993;
$text-logo-color: #fff;
$text-logo-color2: #09b3d0;

$light-gray: #e6e6e6;
$dark-blue: #2f3856;
$dark-blue-shadow: #141928;
$green: #09b3d0;

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0e76a8;
$youtube: #ff0000;
